@model TI.Models.Utilizator

@{
    ViewBag.Title = "Delete an employee";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete an employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nume)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nume)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prenume)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prenume)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Functie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Functie)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SalarBaza)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SalarBaza)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Spor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Spor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PremiiBrute)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PremiiBrute)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalBrut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalBrut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BrutImpozitabil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BrutImpozitabil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Virat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Virat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Impozit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Impozit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CAS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CAS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CASS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CASS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Retineri)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Retineri)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
